/*.label {
    -fx-text-fill: black;
    -fx-font-weight: bold
}

.button {
    -fx-font-weight: bold;
}*/

.root {
    -fx-font-size: 12px;
    -fx-font-family: sans-serif;
    -fx-background-color: #ffffff;
}

.header-section {
    -fx-padding: 5px;
    -fx-font-size: 20px;
    -fx-background-color: teal;
}

.header-section Label {
    -fx-text-fill: #ffffff;
    -fx-padding: 5px;
}

#account {
    -fx-background-color: transparent;
    -fx-text-fill: #ffffff;
    -fx-font-size: 16px;
    -fx-cursor: hand;
}

.sidebar-section {
    -fx-min-width: 200px;
    -fx-pref-width: 200px;
    -fx-max-width: 200px;
    -fx-border-width: 1;
    -fx-border-color: transparent #E8E8E8 transparent transparent;
}

.sidebar-section Label {
    -fx-font-size: 18px;
    -fx-padding: 10 15 10 15;
    -fx-border-width: 1;
    -fx-border-color: transparent transparent #E8E8E8 transparent;
    -fx-min-width: 200px;
    -fx-pref-width: 200px;
    -fx-max-width: 200px;
}

.content-section {
    -fx-padding: 5 10 5 10;
    -fx-wrap-text: true;
}

#content-header {
    -fx-font-size: 18px;
    -fx-padding: 0 0 10 0;
    -fx-font-weight: 700;
}

#content {
    -fx-wrap-text: true;
    -fx-font-size: 16px;
}

#footer-section {
    -fx-alignment: center;
    -fx-padding: 10 10 10 10;
    -fx-border-width: 1;
    -fx-border-color: #E8E8E8 transparent transparent transparent;
}


/*form design*/
.form {
    -fx-padding: 0 40 10 40;
    -fx-wrap-text: true;
    -fx-spacing: 2;
    -fx-alignment: center-top;
}

.form Label {
    -fx-label-padding: 10 0 0 0;
}

.form Button {
    -fx-spacing: 10;
}

.form-row {
    -fx-spacing: 20;
}

.form-row Label {

}
.form-row TextField {

}
.form-row Button {

}
.button-row {
    -fx-padding: 10 0 0 0;
}

.button-row Button {
    -fx-background-color: teal;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.error-label {
    -fx-text-fill: red;
}
.success-label {
    -fx-text-fill: green;
}
Button {
    -fx-cursor: hand;
}